
      <style>
        .a1{
          padding: 10px 100px;
        }
        @media only screen and (max-width: 800px) {
          .a1{
            padding: 0px;
            background-color: burlywood;
          }
          }
  .row12{ margin: 10px 50px;  }
  @media only screen and (max-width: 600px) {
    .row12{
      width: 100%;
      margin: 0px; 
    }
    .row11{
      margin: 0px;
      width: 100%;
    }
  }
  table td:hover {
  background-color: #c86060;
  color: #ffffff;
  font-weight: bold;
  
  box-shadow: #cf3d3c -1px 1px, #cf3d3c -2px 2px, #cf3d3c -3px 3px, #cf3d3c -4px 4px, #cf3d3c -5px 5px, #cf3d3c -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
      transition-duration: 0.4s;
      transition-property: all;
  transition-timing-function: line;
}
td{
  border: 0.2px solid #cf3d3c;
  background-color: #ffffff;
color: #cf3d3c;
}
</style>
    
    <!-- ----------------------------   hehehe   -------------------------------------------- -->
    <body style="font-family: 'Roboto';  background-color: #ffffff">
     
    <!-- -------------------------------------------- -->
    <center>
      <br>      <br>
      <h1 style="border-bottom: 1px solid grey; display: inline;">Our Accepter List</h1>
    </center>
      <!-- ------------------------------------------------------------------ -->
      <br>  <br>
      <div class="row col-11 mx-auto row11">
      <div class="table row12">
        <table class="table">
          <thead class="" style="background-color: #cf3d3c; color: #ffffff;">
            <tr>
              <th> <center> Username  </center> </th>
              <th> <center> Status   </center> </th>
              <th> <center> Blood Group  </center> </th>
              <th> <center> Blood Cell  </center> </th>
            </tr>
          </thead>
          <tbody>       
          <% if(data){
              data.forEach(function(data){
              %>
              <tr>
                <td> <center> <%= data.Username %>   </center> </td>
                <td> <center> <%= data.Status %>    </center> </td>
                <td> <center> <%= data.Blood_Group %>   </center> </td>
                <td> <center> <%= data.Blood_Cell %>   </center> </td>
                <!-- <td style="text-align: justify;" id="tr1"><%= data.passwordDetails %></td>
                <td style="text-align: justify;" id="tr1"><%= data.creationDate %></td> -->
              </tr>
              <%  })  %>
              <%  } else { %>
                  <td> <strong> There is no data yet, add some data. </strong> </td>
              <%  }  %>
        </tbody>
        </table>
      </div>
   
  
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
  </body>
</html>
